@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss-v4';

/* dark mode class */
@custom-variant dark (&:where(.dark, .dark *));

/* 
    Colori
    Definire gli stessi in mason app\Mason\Macro\Theme.php
    in resources\css\filament\auth\tailwind.config.js
    e in resources\views\components\mason\section.blade.php
*/
@theme {
    --font-sans:
        'Josefin Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-serif: 'IBM Plex Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

    --color-white: #ffffff;
    --color-gray: var(--color-gray-100);
    --color-accent: #e66d39;
    --color-primary: #457b9d;
    --color-secondary: #1d3557;
    --color-tertiary: #a8dadc;
    --color-quaternary: #f1faee;
}

@import './typography.css';

/* @config 'tailwind.config.js'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../app/Mason/**/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
    @apply font-sans;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
    @apply h-1 w-1.5;
}

/* Track */
::-webkit-scrollbar-track {
    @apply rounded-lg bg-neutral-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-neutral-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply cursor-pointer bg-neutral-800;
}
